[Desktop Entry]
Name=RustDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=KMCRDP
Exec=KMCRDP %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
